<html>
    <head>
        <title>Room Index</title>
		<link href="./static/style.css" rel="stylesheet" type="text/css"/>
		<link href="./static/bootstrap.min.css" rel="stylesheet" type="text/css"/>
		<script src="./static/jquery.min.js"></script>
		<script src="./static/cytoscape.min.js"></script>
		<script src="./static/mapPage.js"></script>
        
    </head>
    <body id="index-page">
    {{template "menu"}}
    <div class="container">
        <h1>Map view</h1>
        <div id="viewport" style="width: 1024px; height:768px"></div>
    </div>
    <script>
    var nodes = [
        {{range .Nodes}}
        {data: {   
            id: 'room{{printf "%02d" .Id}}',
            name: '{{.Name}}',
            href: './room{{printf "%02d" .Id}}.html'
        }},
        {{end}}
    ];

    var edges = [
    {{range .Edges}}
        {data: {   
            source: 'room{{printf "%02d" .Source}}',
            target: 'room{{printf "%02d" .Target}}'
        }},
    {{end}}
    ];
    </script>
    </body>
</html>
