{{define "menu"}}
<div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="https://github.com/ktzar/scummatlas" class="navbar-brand">
                    <img class="logo" src="static/logo.png"/>
                    Scumm Atlas
                </a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li><a href="index.html">Room Mosaic</a></li>
                    <li><a href="table.html">Room Table</a></li>
                    <li><a href="map.html">Room Map</a></li>
                    <li><a href="costumes.html">Costumes</a></li>
                    <li><a href="scripts.html">Global scripts</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="https://github.com/ktzar" target="_blank">by ktzar</a></li>
                </ul>

            </div>
        </div>
    </div>
    <br/>
    <br/>
{{end}}
