<html>
    <head>
        <title>Room Index</title>
		<link href="./static/style.css" rel="stylesheet" type="text/css"/>
		<link href="./static/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    </head>
    <body id="index-page">
    {{template "menu"}}
    <div class="container">
        <h1>{{.Title}}</h1>
        <h2>Table of rooms</h2>
        <table id="rooms-table" class="table table-bordered">
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Size</th>
                <th>Palette</th>
                <th>Objects</th>
                <th>Zplanes</th>
                <th>Palette</th>
                <th>Boxes</th>
                <th>Local scripts</th>
                <th>Exits to rooms</th>
            </tr>
        {{range .Rooms}}
            <tr>
                <td>
                    <a href="./room{{.TwoDigitNumber}}.html">
                    <img width="128px" src="img_bg/room{{.TwoDigitNumber}}_bg.png"/>
                    </a>
                </td>
                <td>{{.Name}}</td>
                <td>{{.Width}}x{{.Height}}</td>
				<td>
					<table><tr>
				{{range .PaletteHex}}
						<td style="background-color: #{{.}};width: 1px;height:10px"></td>
				{{end}}
					</tr></table>
				</td>
                <td>{{.ObjCount}}</td>
                <td>{{len .Zplanes}}</td>
                <td>{{.PaletteLength}}</td>
                <td>{{.BoxCount}}</td>
                <td>{{.LocalScriptCount}}</td>
                <td><ul class="room-inline-list">
                {{range .Exits}}
                    <li class="room-inline-list__item">
                        <a href="room{{printf "%02d" .Room}}.html">{{.Room}}</a>
                    </li>
                {{end}} 
                </ul></td>
            </tr>
        {{end}}
        </table>
    </div>
    </body>
</html>
