.pixelart {
    image-rendering: pixelated;
}

.screenshot img {
    width: 100%;
    height: auto;
    max-height: 320px;
}

.palette .colour {
    width: 16px;
    height: 16px;
    display: inline-block;
}

#rooms-table img {
    width: 128px;
    max-height: 64px;
}

.screenshot{
    text-align: center;
    margin: 4px;
    padding: 4px;
    background: white;
    box-shadow: 0px 2px 12px rgba(0,0,0,0.5);
}

.room-boxes{
    background-size: 100% 100%;
}

.room-boxes__nobg {
    background-image: none !important;
}

.zplanes-container {
    position: relative;
    margin: 0 auto;
    margin-bottom: 32px;
}

img.zplane {
  position: absolute;
  top: 0;
  left: 0;
}

#zPlane-rotation {
    width: 256px;
    margin: 0 auto;
}
}
