<html>
    <head>
        <title>Room Index</title>
		<link href="./static/style.css" rel="stylesheet" type="text/css"/>
		<link href="./static/bootstrap.min.css" rel="stylesheet" type="text/css"/>
		<script src="./static/zepto.min.js"></script>
		<script src="./static/script.js"></script>
    </head>
    <body id="index-page">
    <div class="container">
        <h1>{{.Title}}</h1>
        <a href="table.html">Table view</a>
        <h2>List of rooms</h2>
        <div class="row">
        {{range .Rooms}}
            <div class="col-sm-4">
                <div class="screenshot">
                    <a href="./room{{.TwoDigitNumber}}.html">
                        <img src="img_bg/room{{.TwoDigitNumber}}_bg.png"/>
                    </a>
                    <h4 class="roomname">{{.Name}}</h4>
                </div>
            </div>{{end}}
        </div>
    </div>
    </body>
</html>
