<html>
    <head>
        <title>Room Index</title>
		<link href="./static/style.css" rel="stylesheet" type="text/css"/>
		<link href="./static/bootstrap.min.css" rel="stylesheet" type="text/css"/>
		<script src="./static/script.js"></script>
    </head>
    <body id="index-page">
    <div class="container">
        <h1>{{.Title}}</h1>
        <a href="table.html">Table view</a>
        <h2>List of rooms</h2>
        <div class="row">
        {{range .Rooms}}
            <div class="screenshot col-sm-4">
                <h4 class="roomname">{{.Name}}</h4>
                <a href="./room{{.IndexNumber}}.html">
                    <img src="img_bg/room{{.IndexNumber}}_bg.png"/>
                </a>
            </div>{{end}}
        </div>
    </div>
    </body>
</html>
