<html>
    <head>
        <title>Room Index</title>
		<link href="./static/style.css" rel="stylesheet" type="text/css"/>
		<link href="./static/bootstrap.min.css" rel="stylesheet" type="text/css"/>
		<script src="./static/jquery.min.js"></script>
		<script src="./static/mapPage.js"></script>
    </head>
    <body id="index-page">
    <div class="container">
        <h1>Map view</h1>
        <a href="index.html">Mosaic view</a>
        <a href="table.html">Table view</a>
    </div>
    </body>
</html>
