<html>
    <head>
        {{$RoomNumber := .TwoDigitNumber}}
        <title>Room {{$RoomNumber}}-{{.Name}}</title>
		<link href="./static/style.css" rel="stylesheet" type="text/css"/>
		<link href="./static/bootstrap.min.css" rel="stylesheet" type="text/css"/>
		<script src="./static/jquery.min.js"></script>
		<script src="./static/roomPage.js"></script>
    </head>
    <body id="room-page">
    {{template "menu"}}
    <div class="container">
        <div class="page-header" id="banner">
            <h1>{{.Name}}</h1>
        </div>
        <div class="row">
            <h2>Background</h2>
            {{$background := .Background}}
            <img class="pixelart" height="{{.DoubleHeight}}px" src="{{.Background}}"/>
        </div>

        <div class="row">
            <h2>Walking boxes</h2>
            <div class="room-boxes__nobg room-boxes"
                style="
                    width:{{.DoubleWidth}}px;
                    height:{{.DoubleHeight}}px;
                    background-image: url({{.Background}})">
                <svg
                    width="{{.DoubleWidth}}"
                    height="{{.DoubleHeight}}"
                    viewBox="{{.ViewBox}}">
                {{range .Objects}}
                  <rect id="{{.Id}}" x="{{.X}}" y="{{.Y}}"
                      width="{{.Width}}" height="{{.Height}}"
                      {{if .HasExit}}
                      fill="rgba(0,0,255,0.5)"
                      {{ else }}
                      fill="rgba(255,0,0,0.5)"
                      {{ end }}
                      stroke="white" stroke-width=".5"/>
                  <text id="text_{{.Id}}" x="{{.LabelPosition.X}}" y="{{.LabelPosition.Y}}"
                      font-size="0.4em" fill="black" font-family="monospace">
                      {{if eq .Name ""}}
                        {{.Id}}
                      {{else}}
                        {{.Name}}
                      {{end}}
                 </text>
                {{end}}
                {{range .Boxes}}
                  <polygon points="
                  {{range .}}{{.X}},{{.Y}} {{end}}
                  " style="fill:rgba(128,128,128,0.5);stroke:black;stroke-width:.5" />
                {{end}}
                </svg>
            </div>
            <br/>
            <button class="btn btn-primary toggle-svg-bg">Toggle background</button>
        </div>

        <div class="row">
            <h2>Z-Planes</h2>
            <div class="zplanes-container" style="width: {{.Width}}px; height: {{.Height}}px">
                <img class="pixelart zplane" src="{{$background}}"/>
                {{range .ZplanesURL}}
                    <img class="pixelart zplane" style="-webkit-mask-image: url({{.}})" src="{{$background}}"/>
                {{end}}
            </div>
            <label>Rotate</label><br/>
            <input type="range" min="-80" max="80" step="1" id="zPlane-rotation"/>
        </div>
        {{if .Exits}}
        <div class="row">
            <h2>Exits</h2>
            {{range .Exits}}
            <div class="col-sm-4 text-center"><a href="room{{printf "%02d" .Room}}.html">
                {{.Path}} leads to room {{.Room}}<br/>
                <img width="128px" src="img_bg/room{{printf "%02d" .Room}}_bg.png"/>
            </a></div>
            {{end}} 
        </div>
        {{end}} 
        <div class="row">
            <h2>Objects</h2>
            <table class="table table-bordered">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Image</th>
                    <th>Position</th>
                    <th>Size</th>
                    <th>Calls</th>
                    <th>Actions</th>
                </tr>
            {{range .Objects}}
                {{$curObjId := .IdHex}}
                <tr>
                    <td>{{.Id}}</td>
                    <td>{{.Name}}</td>
                    <td>
                    {{range .Image.FramesIndexes}}
                    <img class="pixelart" height="64px" src="img_obj/room{{$RoomNumber}}_obj_{{$curObjId}}_{{.}}.png"/>
                    {{end}}
                    </td>
                    <td>{{.X}},{{.Y}}</td>
                    <td>{{.Width}}x{{.Height}}</td>
                    <td>{{.CalledScripts}}</td>
                    <td>
                        {{range .Verbs}}
                        <strong>{{.Name}}</strong><pre>{{.PrintScript}}</pre>
                        {{end}}
                    </td>
                </tr>
            {{end}}
            </table>
        </div>
        <div class="row">
            <h2>Scripts</h2>
            {{if .EntryScript}}
            <h3>Entry script</h3>
            <pre>{{.EntryScript.Print}}</pre>
            {{end}}

            {{if .ExitScript}}
            <h3>Exit script</h3>
            <pre>{{.ExitScript.Print}}</pre>
            {{end}}

            <h3>Local scripts</h3>
            {{range $index, $element := .LocalScripts}}
            <h4>Script #{{printf "%d" $index}}</h4>
            <pre>{{$element.Print}}</pre>
            {{end}}
        </div>

        <div class="row">
            <h2>Palette</h2>
            <div class="palette">
                {{range .PaletteHex}}
                <span class="colour" style="background: #{{.}}"></span>
                {{end}}
            </div>
        </div>
    </div>
    </body>
</html>
