<html>
    <head>
        {{$RoomNumber := .TwoDigitNumber}}
        <title>Room {{$RoomNumber}}-{{.Name}}</title>
		<link href="./static/style.css" rel="stylesheet" type="text/css"/>
		<link href="./static/bootstrap.min.css" rel="stylesheet" type="text/css"/>
		<script src="./static/script.js"></script>
    </head>
    <body id="room-page">
    <div class="container">
        <div class="row text-center">
            <h1>{{.Name}}</h1>
            <h2>Background</h2>
            <img class="pixelart" height="{{.DoubleHeight}}px" src="{{.Background}}"/>
        </div>
        <div class="row text-center">
            <h2>Walking boxes</h2>
            <svg width="{{.SvgWidth}}" height="{{.SvgHeight}}" viewBox="{{.ViewBox}}">
            {{range .Objects}}
              <rect id="{{.Id}}" x="{{.X}}" y="{{.Y}}" width="{{.Width}}" height="{{.Height}}" fill="rgba(255,0,0,0.5)" stroke="white" stroke-width=".5"/>
              <text id="text_{{.Id}}" x="{{.X}}" y="{{.Y}}" font-size="0.4em" fill="black" font-family="monospace">{{.Name}}</text>
            {{end}}
            {{range .Boxes}}
              <polygon points="
              {{range .}}{{.X}},{{.Y}} {{end}}
              " style="fill:rgba(128,128,128,0.5);stroke:black;stroke-width:.5" />
            {{end}}
            </svg>

        </div>
        <div class="row">
            <h2>Objects</h2>
            <table class="table table-bordered">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Image</th>
                    <th>Position</th>
                    <th>Size</th>
                    <th>Actions</th>
                </tr>
            {{range .Objects}}
                {{$curObjId := .IdHex}}
                <tr>
                    <td>{{.IdHex}}</td>
                    <td>{{.Name}}</td>
                    <td>
                    {{range .Image.FramesIndexes}}
                    <img class="pixelart" height="64px" src="img_obj/room{{$RoomNumber}}_obj_{{$curObjId}}_{{.}}.png"/>
                    {{end}}
                    </td>
                    <td>{{.X}},{{.Y}}</td>
                    <td>{{.Width}}x{{.Height}}</td>
                    <td>
                        {{range .Verbs}}
                        <strong>{{.Name}}</strong><pre>{{.PrintScript}}</pre>
                        {{end}}
                    </td>
                </tr>
            {{end}}
            </table>
        </div>
        <div class="row">
            <h2>Scripts</h2>
            {{if .EntryScript}}
            <h3>Entry script</h3>
            <pre>{{.EntryScript.Print}}</pre>
            {{end}}

            {{if .ExitScript}}
            <h3>Exit script</h3>
            <pre>{{.ExitScript.Print}}</pre>
            {{end}}

            <h3>Local scripts</h3>
            {{range $index, $element := .LocalScripts}}
            <h4>{{printf "0x%x" $index}}</h4>
            <pre>{{$element.Print}}</pre>
            {{end}}

        </div>
        <div class="row">
            <h2>Palette</h2>
            <div class="palette">
                {{range .PaletteHex}}
                <span class="colour" style="background: #{{.}}"></span>
                {{end}}
            </div>
        </div>
    </div>
    </body>
</html>
