<html>
    <head>
        <title>Script Index</title>
		<link href="./static/style.css" rel="stylesheet" type="text/css"/>
		<link href="./static/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    </head>
    <body id="index-page">
    {{template "menu"}}
    <div class="container">
        <h1 id="top">{{.Title}}</h1>
        <h2>List of scripts</h2>
        <table class="table table-bordered table-condensed">
            <tr>{{range .ScriptTable}}{{.}}{{end}}</tr>
        </table>
        <div class="row">
        {{range $i, $script := .Scripts}}
        <h2 id="script-{{$i}}">Script {{$i}}</h2>
            <pre>{{ $script.Print }}</pre>
            <a href="#top">Go back to the top</a>
        {{end}}
        </div>
    </div>
    </body>
</html>
